/* PHASE 4: Footer */

.footer {
  width: 860px;
  margin: auto;
  background: white;
  padding: 20px 20px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  color: #ccc;
  font-size: 14px;
}

.footer-copy {
  float: left;
}

.footer-links {
  float: right;
}

.footer-links > li {
  float: left;
}

.footer a {
  padding: 10px 10px;
  border: none;
}

.footer a:hover {
  color: black;
}
