<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>Hi <%= @user.username %>, Welcome to our site, have a good day!</p>
  </body>
</html>
